  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
          <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
        </svg>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <% if(user) { %> 
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/profiles/<%= user.profile._id %>">
              My Profile
            </a>
          </li>
          <% } %>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/houses">
              Search Houses
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/apartments">
              Search Apartments
            </a>
          </li>  
        </ul>
      </div>
    </div>
    <% if (user) { %>
      <a href="/auth/logout">
        <button type="button" class="btn btn-outline-secondary logout">Logout</button>
      </a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
  </nav>
