  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
    <ul class="nav nav-tabs">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="" role="button" aria-expanded="false">Home</a>
        <ul class="dropdown-menu">
          <% if(user) { %> 
          <li><a class="dropdown-item" href="/profiles/<%= user.profile._id %>">Your Profile</a></li>
          <li><a class="dropdown-item" href="">Create Listings</a></li>
          <% } %> 
          <li><a class="dropdown-item" href="/houses">Browse Homes</a></li>
          <li><a class="dropdown-item" href="/apartments">Browse Apartments</a></li>
        </ul>
      </li>
    </ul>
    <% if (user) { %>
      <a href="/auth/logout">
        <button type="button" class="btn btn-outline-dark">Logout</button>
      </a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
  </nav>
