<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>


<main>
  <% if (user?.profile.avatar) { %>
    <div class="eleven">
      <h1>Welcome <%= user ? user.profile.name : '' %> </h1>
    </div>
    <h3>Buy, sell, or rent here</h3>

    <img src="https://i.imgur.com/VpJe3k1.jpg" class="" alt="Responsive image">

  <% } else { %>
    <div class="eleven">
    <h1>Welcome to New York City</h1>
    </div>
    <h3>Find your next home</h3>
    <img src="https://i.imgur.com/VpJe3k1.jpg" class="" alt="Responsive image">
  <% } %> 
</main>

<%- include('./partials/footer') %>
